<!DOCTYPE>
<html>
<head>
    <title>{{title}}</title>
    <script type="text/javascript">
        alert("Please add JSONView extension for chrome...to view perfectly");
    </script>
</head>
<body>
<br />
{{getHelpPageData}}
</body>
</html>